<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<%- include('layouts/navbar2') -%>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 mb-5 pb-1 text-center">
                <p class="mb-3 lead fw-bold">Filter Listings</p>
                <form action="" class="d-flex align-items-center">
                    <input type="search" class="form-control" placeholder="Search ...."><i class="bi bi-binoculars h4"></i>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <% for(i=0; i < listings.length; i++) { %>
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="<%= listings[i].image %>" class="h-100 w-100" alt="<%= listings[i].title %>">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h3 class="h5"><%= listings[i].title %></h3>
                                    <p class="text-muted">
                                        <%= listings[i].description %>
                                    </p>
                                    <address>
                                        <%= listings[i].location %>
                                    </address>
                                    <span>
                                       <b>POC:</b> <%= listings[i].contact %>, <%= listings[i].email %>
                                    </span>
                                    <% if(loggedIn) { %>
                                        <a href="/delete/listing/<%= listings[i].id %>" class="btn mt-3 btn-warning text-light rounded-pill btn-sm">delete</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</main>

<%- include('layouts/scripts') -%>
</body>
</html>