<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navbar2') -%>
</header>

<main>
    <section class="container" style="margin-top: 140px; margin-bottom: 70px;">
        <div class="row justify-content-center align-items-center">
            <% if(searchData != "") { %>
                <div class="col-md-12 mb-5 pb-1">
                    <div class="row justify-content-center align-items-center py-2 me-1 d-flex mx-auto text-center">
                        <% for(i=0; i < searchData.length; i++) { %>
                            <div class="card" style="max-width:20rem;">
                                <h4><%= searchData[i].title %></h4>
                                <img src="<%= searchData[i].image %>" class="card-img-top" alt="<%= searchData[i].title %>">
                                <p class="card-body">
                                    <%= searchData[i].datePosted.toLocaleString() %>
                                </p>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</main>

<!-- Footer -->
<%- include('layouts/scripts') -%>
</body>
</html>